body
{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  width:100%;
  overflow-x: hidden;
}

*
{
  box-sizing: border-box;
}

#top
{
  background-color:lime;
  height: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  animation: tlo 4s infinite;
}

@keyframes colors
{
  0% {color:black;}
  32% {color:black;}
  35% {color:lime;}
  37% {color:black;}
  94% {color:black;}
  96% {color:purple;}
  99% {color:purple;}
  100% {color:black;}
}

@keyframes wariactwo
{
  0% {color:black; letter-spacing: 40px;}
  34% {color:black; letter-spacing: 40px;}
  35% {color:black; letter-spacing: 10px;}
  37% {color:black; letter-spacing: 10px;}
  38% {color:black; letter-spacing: 60px;}
  40% {color:black; letter-spacing: 60px;}
  41% {color:black; letter-spacing: 40px;}
  95% {color:black; letter-spacing: 40px;}
  96% {color:lime; letter-spacing: 60px;}
  99% {color:lime; letter-spacing: 60px;}
  100% {color:black; letter-spacing: 40px;}
}

@keyframes tlo
{
  0% {background-color:lime;}
  95% {background-color:lime;}
  96% {background-color:black;}
  99% {background-color:black;}
  100% {background-color:lime;}
}

@keyframes tlo2
{
  0% {border-top-color:lime;}
  95% {border-top-color:lime;}
  96% {border-top-color:black;}
  99% {border-top-color:black;}
  100% {border-top-color:lime;}
}

span{
  height: 80px;
}

h1{
  font-size: 100px;
  letter-spacing: 40px;
  display: inline;
  animation: wariactwo 4s infinite;
}

#triangle{
  width: 0;
  height: 0;
  right:0;
  position: absolute;
  border-top: 30vw solid lime;
  border-left: 60vw solid transparent;
  animation: tlo2 4s infinite;
}

#two
{
  background-color: black;
  height: 5000px;
  width: 100%;
  position: relative;
}

.box
{
  width:15vw;
  position: absolute;
  left:20vw;
  top:40vh;
  color:lime;
  text-align: center;
  height:15vw;
  font-size: 40px;
  border: 5px solid lime;
  transform: rotate(-5deg);
  box-shadow: -40px 40px 0 purple, 40px -40px 0 purple;
  transition: all 0.3s ease-out;
}

.box:hover
{
  box-shadow: -80px 80px 0 lime, 80px -80px 0 lime;
  border: 5px solid purple;
  transform: scale(1.05);
}
#your
{
  position: absolute;
  background-image: url("hand.png");
  background-size: cover;
  width:50px;
  height:50px;
}

#smiley
{
  background-image: url("smile.png");
  background-size: cover;
  height:150px;
  width:150px;
  position: relative;
  top:150vh;
  left:30vw;
}